.bandeira-wrapper {
    position: relative;
}

.bandeira {
    position: absolute;
    top: 50%;
    right: 25px;

    width: 20px;
}

.barra-superior{
    position: static;
}
.barra-top-chat{
    position: static;
}

.olho{
    font-size:
    20px
    ;
}

.sons{
    font-size:
    20px
    ;
}
.loginnome{
    position: static;
}
.martelo {
    position: absolute;
    bottom: 10px;
}
.botaoprodutos {
    position: static
    
}

.tela-login {
background-image: url("../img/foto2.jpg");
height: 100%;
background-repeat:  no-repeat;
background-size: cover;
}

.login {
    color:snow;
    font-weight: bold;
}

.senha {
    color:snow;
    font-weight: bold;
}

.nome {
    color:snow;
    font-weight: bold;
}

input.email {
    background-color:rgba(255,255,255, 0.9);
}

input.email {
    background-color:rgba(255,255,255, 0.9);
}

.item.item-input {
    padding-right: 16px;
}

.geral {
background-image: url("../img/foto2.jpg");
height: 100%;
background-repeat:  no-repeat;
background-size: cover;
}

